body {
  background-color: #fff;
}
#auth {
  height: 100vh;
  overflow-x: hidden;
}
#auth #auth-center {
  padding: 8% 35%;
}
#auth #auth-center .auth-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#auth #auth-center .auth-subtitle {
  color: #a8aebb;
  font-size: 0.7rem;
  line-height: 1rem;
}
#auth #auth-center .auth-logo {
  margin-bottom: 2rem;
}
#auth #auth-center .auth-logo img {
  height: 5rem;
}
#auth #auth-center label {
  color: #435ebe;
}
#auth #auth-center input {
  border-radius: 10px;
  border-color: #435ebe;
}
@media screen and (max-width: 767px) {
  #auth #auth-center {
    padding: 3rem;
  }
}
@media screen and (max-width: 576px) {
  #auth #auth-center {
    padding: 5rem 3rem;
  }
}
